{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <!--Left side of the screen-->
    <div class="left-side col-sm-4 col-md-4 col-lg-4 mb-2">
      <div class="home-page-label">
        <h1 id="main-text">Manage your <br>transactions</h1>
          <br>
        <h4 id="sub-text">Track your incomes and expenses</h4>
      </div>
      <div class="budget-button">
        <a
          href="{% url 'budget:budget' %}"
          class="budget-link"
          style="color: white"
          >Take me to my Budget</a
        >
      </div>

      <div class="reset-password-button">
        <a
          href="{% url 'users:reset-password' %}"
          class="budget-link"
          style="color: white"
          >I want to change my password</a
        >
      </div>
    </div>

    <!--Right side of the screen-->
    <div class="right-side col-sm-8 col-md-8 col-lg-8 mb-2">
      <div class="profile-container">
        <div class="content-section">
          <div class="media">
            <img
              class="rounded-circle img-fluid account-img"
              src="{{ user.profile.image.url }}"
              alt=""
            />
            <div class="media-body">
              <h2 class="account-heading">{{ user.username }}</h2>
              <p class="text-white">{{ user.email }}</p>
              <a href="{% url 'users:update-profile' %}" class="btn btn-success"
                >Update Profile</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
