body{
    background-color: #90e0ef;
}

.nav {
    background-color: #00b4d8;
}

.alert{
    text-align: center;
}

.profile-container {
    background-color: #00b4d8;
    padding: 2%;
    position: fixed;
    top: 20%;
    left: 60%;
    width: 25%;
    height: 60%;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.update-profile-container {
    background-color: #F8F8F8;
    padding: 2%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
}

.profile-container div {
    margin-bottom: 2%; /* Adjust this value as needed */
}


.list-of-transactions {
    background-color: #F8F8F8;
    padding: 1%;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transaction-table {
    max-height: 50vh;
    overflow-y: auto;
}

.transaction-table table {
    width: 60vw;
    table-layout: fixed;
}

.transaction-table thead th,
.transaction-table tbody td {
    text-align: center;
    padding: 0;
}


.create-transaction {
    margin: auto;
    width: 150%;
}

.update-transaction {
    margin: auto;
    width: 150%;
}

.delete-transaction {
    margin: auto;
    width: 150%;
}

.budget {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 50vh;
    padding: 2vw;
    border-radius: 1vw;
    overflow: auto;
}

.card-footer {
    display: flex; /* or display: grid */
    justify-content: center;
    margin-top: 1em; /* Optional: Add space above the button */
}

.home-page-label {
    border-radius: 25px;
    position: fixed;
    left: 15%;
    top: 20%;
    text-align: center;
    background-color: #00b4d8;
    padding: 20px;
    box-sizing: border-box;
}

.row {
    display: flex; /* Use flexbox to create columns */
}

.column {
    flex: 1; /* Equal width for each column */
    padding: 10px; /* Add spacing between columns */
}

#income {
    color: green;
}

#expense {
    color: red;
}

#main-text {
    color: white;
    font-size: 72px;
    font-family: 'Recoleta Black', sans-serif;
}

#sub-text {
    color: white;
}

.budget-button {
    border-radius: 25px;
    position: fixed;
    left: 22%;
    top: 60%;
    text-align: center;
    background-color: #00b4d8;
    padding: 20px;
    box-sizing: border-box;
}

/* Additional styling for the link */
.budget-link {
    display: block; /* Ensures the entire button area is clickable */
    text-decoration: none; /* Remove underlines from the link */
    color: #333; /* Set the text color */
    font-weight: bold; /* Make the text bold */
    font-size: 16px; /* Adjust font size as needed */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Hover effect: Change background color when hovering over the link */
.budget-link:hover {
    background-color: #ddd;
}

.reset-password-button {
    border-radius: 25px;
    position: fixed;
    left: 20.5%;
    top: 70%;
    text-align: center;
    background-color: #00b4d8;
    padding: 20px;
    box-sizing: border-box;
}

.card-header {
    background-color: #00b4d8;
}

.card-footer {
    background-color: #00b4d8;
}