<!--
 This HTML document encapsulates the navigation bar, a key interface element prevalent across our web application.
  It serves as a crucial link, facilitating seamless navigation between various HTML files within our application.
-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home_page:home_page' %}">Personal Budgeting Tool</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-6">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'budget:budget' %}">Your Budget</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'users:profile' %}">Profile</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Settings
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Change Password</a></li>
                            <li><a class="dropdown-item" href="#">Change Theme</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav me-auto mb-6">
                        <li class="nav-item">
                            <span class="nav-link active">Welcome, {{ user.username }}!</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'users:logout' %}">Logout</a>
                        </li>
                    </ul>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'users:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'users:register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
