{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
    <div class="container-fluid custom-form">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Register</h3>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                    <div class="border-top pt-3 d-flex align-items-center justify-content-center">
                        <small class="text-muted">
                            Already have an account? <a class="ml-2" href="{% url 'users:login' %}">Sign In</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
